/* Fonts */

@font-face {
  font-family: "Almondita Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Almondita Regular"),
    url("/static/fonts/almondita.woff") format("woff");
}

@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("AvenirNextCyr-Regular"),
    url("/static/fonts/avenir-next-regular.woff") format("woff");
}

@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("AvenirNextCyr-Demi"),
    url("/static/fonts/avenir-next-demi.woff") format("woff");
}

@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("AvenirNextCyr-Bold"),
    url("/static/fonts/avenir-next-bold.woff") format("woff");
}

@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("AvenirNextCyr-Heavy"),
    url("/static/fonts/avenir-next-heavy.woff") format("woff");
}
